[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
argparse = "*"
pynsq = "*"
tornado = "==4.5.3"

[requires]
python_version = "2.7"
